.homepage {
  background-color: rgb(241, 241, 23);
}
.not-found {
  background-color: rgb(241, 241, 23) ;
}
.not-found-position {
  padding: 20px;
  width: 20vw;
}

header, footer {
  font-size: 20px;
  width: 100%;
  background-color: rgb(241, 241, 23);
}

header {
  position: fixed;
  top: 0;
  z-index: 20;
}

footer {
  bottom: 0;
  height: 2em;
  left: 0;
  position: fixed;
  font-size: small;
  z-index: 9;
}

p {
  color: rgb(28, 25, 14)
}

.show-page {
  padding-top: 100px;
}